.header-title {
  background-color: var(--primary);
  overflow: hidden;
}

.header-title > h1 {
  text-align: center;
  color: var(--secondary);
}

.header-intro {
  min-height: 827px;

  display: flex;
}

/* Card */
.header-intro > div:nth-child(1) {
  flex: 0 0 50%;

  display: flex;
}

.header-intro > div:nth-child(1) > .card {
  width: 83%;
  margin: auto;
}

/* Calendar */
.header-intro > div:nth-child(2) {
  flex: 0 0 50%;

  display: flex;
}

.header-intro > div:nth-child(2) > .calendar {
  width: 83%;
  margin: auto;
}
